<% content_for(:title, "Events around Kota Kinabalu - ApaCerita") %>

<div class="span12">
  <%= render @events %>
  <div class="pagination">
    <%= link_to_next_page @events, 'Next Page' %>
    <%= link_to_previous_page @events, 'Previous Page' %>
    <%= page_entries_info @events %>
  </div>
</div>