$default_text_color: #474747;
$default_link_color: #0088cc;
$default_link_hover_color: #005580;
$blue_sky: #B9EBFF;
$light_blue_sky: #DFF6FF;
$green_land: #C8D99D;
$dark_green_land: #768C3C;
$white_background: #fafafa;
$red_background: #E3502E;
$dark_grey: #666;
$light_grey: #ccc;