@import "colors";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  color: $default_text_color;
  background-color: $light_blue_sky;
  /* For WebKit (Safari, Chrome, etc) */
  background: $light_blue_sky -webkit-gradient(linear, left top, left bottom, from($blue_sky), to($light_blue_sky)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: $light_blue_sky -moz-linear-gradient(top, $blue_sky, $light_blue_sky) no-repeat;

  padding-top: 0;
  font-family: 'Open Sans', sans-serif;
}

.page {
  background: url('/assets/buildings.png') no-repeat bottom;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
  padding-bottom: 250px;
}

header {
  margin: 10px 0 20px 0;
  h1 {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline;
    background-color: #1C5C78;
    margin-bottom: 5px;
    line-height: 70px;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

    a, a:hover {
      color: white;
      text-decoration: none;
    }
  }

  p {
    font-size: 16px;
    text-shadow: rgba(0,0,0,0.2) 2px 2px 2px;
  }

  .pull-right {
    margin: 5px 0 0 0;
    text-align: right;

    form {
      margin-top: 10px;
      select {
        width: 110px;
      }
    }

    a {

    }
    
  }
}

footer, .push {
  height: 200px;
}

footer {
  background-color: $green_land;
  /* For WebKit (Safari, Chrome, etc) */
  background: $green_land -webkit-gradient(linear, left top, left bottom, from($green_land), to($dark_green_land)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: $green_land -moz-linear-gradient(top, $green_land, $dark_green_land) no-repeat;
  width: 100%;

  .footer-message {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: $dark_grey;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  }
}

.alert {
  margin-left: 20px;
}

.blank-state {
  padding: 20px;
  text-align: center;
  h2 {
    margin: 0 0 10px 0;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
  }

  p {
    font-size: 20px;
    background-color: #333;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  }
}

.pagination {
  text-align: center;
}

#map-modal {
  .modal-body {
    overflow-y: none;
  }
  .map_container {
    width: 515px;
    height: 380px;
  }
  .gmaps4rails_map {
    width: 515px;
    height: 380px;
  }
}